# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/
.env

# Data
data/raw/
data/interim/
data/processed/

# Notebooks
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
